---
// src/components/HeroSection.astro
import HeroContent from './Scene/HeroContent.astro';
---

<section class="relative min-h-screen flex items-center justify-center overflow-hidden z-500">
  <HeroContent/>
</section>