---
// Layout.astro
import '../styles/global.css';
import Header from '../components/Header.astro';

import { HeroSceneDesk } from '../components/Scene/HeroScene.tsx';
import HeroSceneMob from '../components/Scene/HeroScene.astro';

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = 'Tu Máquina de Ventas | Ingeniería Digital',
  description = 'SEO técnico, IA y desarrollo de alto rendimiento.'
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-[#020205] text-white overflow-x-hidden antialiased relative">

    <div class="absolute w-full h-full bg-[#000000]/30 backdrop-blur-[2px] z-100"></div>
    
    <div class="fixed inset-0 z-0 pointer-events-none">
      
      <div class="hidden lg:block h-full w-full">
        <HeroSceneDesk client:only="react" />
      </div>

      <div class="block lg:hidden h-full w-full">
        <HeroSceneMob />
      </div>
    </div>

    <Header />
    
      <slot />

  </body>
</html>